<div class="menuleft card" style="width: 18rem;">
    <div class="card-body">
        <span class="menutitle navbar-brand mb-0 h1">Items Menu</span>
        <nav class="menuitem navbar navbar-light bg-light">
            <a class="menutext navbar-brand" href="#">Navbar</a>
        </nav>
        <nav class="menuitem navbar navbar-light bg-light">
            <a class="menutext navbar-brand" href="#">Navbar</a>
        </nav>
        <nav class="menuitem navbar navbar-light bg-light">
            <a class="menutext navbar-brand" href="#">Navbar</a>
        </nav>
        <nav class="menuitem navbar navbar-light bg-light">
            <a class="menutext navbar-brand" href="#">Navbar</a>
        </nav>
        <nav class="menuitem navbar navbar-light bg-light">
            <a class="menutext navbar-brand" href="#">Navbar</a>
        </nav>
        <nav class="menuitem navbar navbar-light bg-light">
            <a class="menutext navbar-brand" href="#">Navbar</a>
        </nav>
        <nav class="menuitem navbar navbar-light bg-light">
            <a class="menutext navbar-brand" href="#">Navbar</a>
        </nav>
    </div>
</div>