<div>
  <nav class="navtopo navbar navbar-dark bg-dark">
    <img class="imglogo" src="../../assets/img/img.png"/> 
    <div class="row col-12">
      <div class="col-7">
        <a class="titletop navbar-brand">
          FINANCIAL CONTROL
        </a>
      </div>
      <div class="col-5">
        <nav class="nav nav-pills flex-column flex-sm-row">
          <button type="button" class="btntop btn btn-info btn-sm">Small button</button>
          <button type="button" class="btntop btn btn-info btn-sm">Small button</button>
          <button type="button" class="btntop btn btn-info btn-sm">Small button</button>
          <button type="button" class="btntop btn btn-info btn-sm">Small button</button>
        </nav> 
      </div>
    </div>
  </nav>
</div> 
